<ul>

<li><div class="row">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Show users</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="displayUsers('Patient')">Patient</button>
                <button ngbDropdownItem (click)="displayUsers('Caregiver')">Caregiver</button>
            </div>
        </div>
    </div>
</div>
</li>

<li><button type="submit" (click)="createUserPage()">Create User</button></li>
<li><button type="submit" (click)="createMedicationPage()">Create medication plan</button></li>
</ul>
<div id="content">
<h1>{{selectedTypeOfUser}}</h1>
<table id="table1" class="table table-striped" *ngIf="selectedTypeOfUser==='Patient'">
      <thead>
      <tr>
          <th scope="col">Index</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">Birthdate</th>
          <th scope="col">Gender</th>
          <th scope="col">Adress</th>
          <th scope="col">Medical record</th>
          <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of patients; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ user.id}}</td>
          <td>{{ user.name}}</td>
          <td>{{ user.username}}</td>
          <td>{{ user.password}}</td>
          <td>{{ user.birthDate}}</td>
          <td>{{ user.gender}}</td>
          <td>{{ user.adress}}</td>
          <td>{{user.medicalRecord}}</td>
          <td>
              <button (click)="modifyUser(user)">
                  Modify user
              </button>
              <br>
              <button (click)="deleteUser(user.id)">
                  Delete user
              </button>
              <button (click)="checkActivity(user.id)">
                  Check activity history
              </button>
          </td>

      </tr>
      </tbody>
</table>
<table id="table2" class="table table-striped" *ngIf="selectedTypeOfUser==='Caregiver'">
    <thead>
    <tr>
        <th scope="col">Index</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Gender</th>
        <th scope="col">Adress</th>
        <th scope="col">Patients</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    <!--      <div  *ngIf="selectedTypeOfUser==='Patient'">-->
    <tr *ngFor="let user of caregivers; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.id}}</td>
        <td>{{ user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{ user.password}}</td>
        <td>{{ user.birthDate}}</td>
        <td>{{ user.gender}}</td>
        <td>{{ user.adress}}</td>
        <td>
            <table id="table3" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Medical record</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let patient of user.patients; index as j">
                    <th scope="row">{{ j + 1 }}</th>
                    <td>{{ patient.name}}</td>
                    <td>{{ patient.medicalRecord}}</td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <button (click)="modifyUser(user)">
                Modify user
            </button>
            <br>
            <button (click)="deleteUser(user.id)">
                Delete user
            </button>
        </td>

    </tr>
    <!--      </div>-->
    </tbody>
</table>
</div>