<h1>Available medications</h1>
<table id="table1" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Index</th>
    <th scope="col">Name</th>
    <th scope="col">Dosage</th>
    <th scope="col">Side effects</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medication of medicationAvailable; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ medication.name}}</td>
    <td>{{ medication.dosage}}</td>
    <td>{{ medication.sideEffects}}</td>
    <input type="checkbox" (click)="checkEvt(medication.name)">Select for plan<br>
  </tr>
  </tbody>
</table>

<h1>Patients</h1>
<table id="table2" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Index</th>
    <th scope="col">Name</th>
    <th scope="col">Medical record</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let patient of patientsAvailable; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ patient.name}}</td>
    <td>{{ patient.medicalRecord}}</td>
    <input type="checkbox" (click)="checkEvtPatient(patient.name)">Select for plan<br>
  </tr>
  </tbody>
</table>

<h1>Create medication</h1>

<form class="px-4 py-3" (ngSubmit)="confirmMedication()">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" id="name" [(ngModel)]="medication.name" name="name">
  </div>
  <div class="form-group">
    <label for="dosage">Dosage</label>
    <input class="form-control" [(ngModel)]="medication.dosage" id="dosage" name="dosage">
  </div>
  <div class="form-group">
    <label for="sideEffects">Side effects (comma separated)</label>
    <input class="form-control" id="sideEffects"
           [(ngModel)]="sideEffects" name="sideEffects">
  </div>
  <button type="submit" class="btn btn-primary">Confirm</button>
</form>

<h1>Create medication plan</h1>
<h5>Pick from medication and existing patients first</h5>
<form class="px-4 py-3" (ngSubmit)="confirmMedicationPlan()">
  <div class="form-group">
    <label for="intervals">Intake intervals (comma separated)</label>
    <input class="form-control" id="intervals" [(ngModel)]="intakeIntervals" name="intervals">
  </div>
  <div class="form-group">
    <label for="period">Period</label>
    <input class="form-control" [(ngModel)]="medicationPlan.period" id="period" name="period">
  </div>
  <button type="submit" class="btn btn-primary">Confirm</button>
</form>